@import '../components/variables';
@import '../components/pokemonCard';


h1 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
    text-align: center;
}
.pokeContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}
.pokemonEvo{
    margin-left: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.evoImg{
    border-radius: 50%;
    padding: 7px;
    width: 100px;
    background-color: white;
}
.pokeName{
    padding-bottom: 3rem;
    position: relative;
    bottom: -90px;
    left: -19.5%;
    font-size: 1.5rem;
    font-weight: bold;
}

.pokeStat {
    list-style: none;
}