form {
  width: 300px;
  margin: 0 auto;
  form label {
      display: block;
      margin-bottom: 10px;
      
    }
    label{
      color: #4CAF50;
  }

form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
form input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
}


form input[type="submit"]:hover {
  background-color: #45a049;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

th {
  text-align: left;
  background-color: #4CAF50;
  color: white;
}




